footer.app-footer
  div
    a(href='https://envisionsolar.com') CoreUI
    span
      | &copy; 2018 creativeLabs.
  div.ml-auto
    span
      | Powered by
    a(href='https://envisionsolar.com') CoreUI
